.page-header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  min-height: 50px;
  padding: 25px 0;
}

.page-header__logo {
  display: block;
  margin-top: 15px;
}

.page-header__list {
  width: 490px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @include list;
}

.page-header__item {
  font-size: 16px;
  line-height: 60px;
}

.page-header__item a {
  color: $cl-gray;
}
