.page-main {
  margin: 0 auto;
}

.page-main__header {
  position: relative;
  min-height: 570px;
  margin: 0 auto;
  text-align: center;
  background-image: url("../img/bg-header.jpg");
  background-repeat: no-repeat;
  background-position: center -150px;
  background-size: cover;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $cl-gray;
    opacity: 0.8;
  }
}

.page-main__container {
  position: relative;
  z-index: 2;
  padding-top: 200px;
  text-align: center;
}

.page-main__title {
  margin: 0 0 15px;
}

.page-main__slogan {
  position: relative;
  margin: 0 auto;
  width: 185px;
  color: $cl-white;

  &::before {
    position: absolute;
    content: "";
    top: 9px;
    left: -60px;
    width: 40px;
    height: 1px;
    background: $cl-white;
  }

  &::after {
    position: absolute;
    content: "";
    top: 9px;
    right: -60px;
    width: 40px;
    height: 1px;
    background: $cl-white;
  }
}

.page-main__menu {
  border-top: 5px solid #f34949;
}

.page-main__wrapper {
  position: relative;
  padding-top: 155px;
  padding-bottom: 50px;
  text-align: center;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 473px;
    width: 155px;
    height: 75px;
    background-image: url("../img/squad.svg");
  }

  &::after {
    position: absolute;
    content: "The Menu";
    top: 20px;
    left: 507px;
    font-size: 20px;
    font-weight: bold;
    background: transparent;
    color: $cl-white;
  }
}

.page-main__list {
  @include list;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 50px;
}

.page-main__item {
  margin-bottom: 50px;
  width: 495px;
  text-align: left;
}

.page-main__block {
  display: flex;
  justify-content: space-between;
}

.page-main__name {
  margin: 0 45px 5px 0;
  font-size: 16px;
}

.page-main__description {
  margin: 0;
  font-size: $fn-sz;
}

.page-main__price {
  margin: 0 0 0 45px;
  font-size: 16px;
}

.page-main__btn {
  position: relative;
  padding: 5px 50px 5px 10px;
  border: 1px solid #d7d5d5;
  background: transparent;
  font-size: $fn-sz;
  color: #d7d5d5;
  line-height: 20px;
  cursor: pointer;

  &:hover {
    background: #937f7f;
  }

  &:active {
    color: $cl-white;
    background: #463c3c;
  }

  &::before {
    position: absolute;
    content: "";
    top: 8px;
    left: 86px;
    width: 1px;
    height: 15px;
    background: #d7d5d5;
  }

  &::after {
    position: absolute;
    content: "";
    top: 13px;
    left: 100px;
    width: 11px;
    height: 7px;
    background: url("../img/arrow.png");
    background-repeat: repeat;
  }
}

.page-main__features {
  padding-top: 100px;
  padding-bottom: 50px;
}

.page-main__dishes {
  position: relative;
  margin: 0;
  margin-bottom: 80px;
  margin-right: 20px;
  font-size: 20px;
  line-height: 26px;
  color: $cl-gray;
  font-weight: 700;
  text-transform: uppercase;

  &::before {
    position: absolute;
    content: "";
    top: 12px;
    left: 210px;
    width: 200px;
    height: 1px;
    background-color: #e5e3e3;
  }
}

.page-main__dishes-list {
  @include list;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.page-main__dishes-item img {
  display: block;
  margin-bottom: 20px;
}

.page-main__dishes-block {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;

  &--figuat {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      width: 48px;
      height: 13px;
      background: url("../img/icon-stars.png");
      background-repeat: repeat;
    }

    &::after {
      position: absolute;
      content: "";
      bottom: 0;
      left: 48px;
      width: 12px;
      height: 13px;
      background: url("../img/icon-stars-grey.png");
      background-repeat: repeat;
    }
  }

  &--daute {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      width: 36px;
      height: 13px;
      background: url("../img/icon-stars.png");
      background-repeat: repeat;
    }

    &::after {
      position: absolute;
      content: "";
      bottom: 0;
      left: 36px;
      width: 24px;
      height: 13px;
      background: url("../img/icon-stars-grey.png");
      background-repeat: repeat;
    }
  }

  &--officia {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      width: 60px;
      height: 13px;
      background: url("../img/icon-stars.png");
      background-repeat: repeat;
    }
  }

  &--pim {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      width: 48px;
      height: 13px;
      background: url("../img/icon-stars.png");
      background-repeat: repeat;
    }

    &::after {
      position: absolute;
      content: "";
      bottom: 0;
      left: 48px;
      width: 12px;
      height: 13px;
      background: url("../img/icon-stars-grey.png");
      background-repeat: repeat;
    }
  }
}

.page-main__food {
  margin: 0;
  font-size: $fn-sz;
  font-weight: lighter;
  color: $cl-gray_black;
}

.page-main__total {
  margin: 0;
  color: $cl-gray_black;
  font-size: $fn-sz;
  font-weight: lighter;
}
