.page-main {
  margin: 0 auto;
}

.page-main__header {
  min-height: 570px;
  margin: 0 auto;
  text-align: center;
  background-image: url("../img/Layer 1.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.page-main__container {
  padding-top: 200px;
  text-align: center;
}

.page-main__title {
  margin: 0 0 15px;
}

.page-main__slogan {
  position: relative;
  margin: 0 auto;
  width: 185px;
  color: $cl-white;

  &::before {
    position: absolute;
    content: "";
    top: 9px;
    left: -60px;
    width: 40px;
    height: 1px;
    background: $cl-white;
  }

  &::after {
    position: absolute;
    content: "";
    top: 9px;
    right: -60px;
    width: 40px;
    height: 1px;
    background: $cl-white;
  }
}

.page-main__menu {
  border-top: 5px solid #f34949;
}

.page-main__wrapper {
  position: relative;
  padding-top: 155px;
  padding-bottom: 100px;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 473px;
    width: 155px;
    height: 75px;
    background-image: url("../img/squad.svg");
  }

  &::after {
    position: absolute;
    content: "The Menu";
    top: 20px;
    left: 507px;
    font-size: 20px;
    font-weight: bold;
    background: transparent;
    color: $cl-white;
  }
}

.page-main__list {
  @include list;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 100px;
}

.page-main__item {
  margin-bottom: 50px;
  width: 495px;
  text-align: left;
}

.page-main__name {
  margin: 0 45px 5px 0;
  font-size: 16px;
}

.page-main__description {
  margin: 0;
  font-size: $fn-sz;
}

.page-main__price {
  margin: 0 0 0 45px;
  font-size: $fn-sz;
}

.page-main__features {
  padding-top: 100px;
  padding-bottom: 100px;
}

.page-main__dishes {
  position: relative;
  margin: 0;
  margin-bottom: 80px;
  margin-right: 20px;
  font-size: 20px;
  line-height: 26px;
  color: $cl-gray;
  font-weight: 700;
  text-transform: uppercase;

  &::before {
    position: absolute;
    content: "";
    top: 12px;
    left: 210px;
    width: 200px;
    height: 1px;
    background-color: #e5e3e3;
  }
}

.page-main__dishes-list {
  @include list;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.page-main__dishes-item img {
  display: block;
  margin-bottom: 20px;
}

.page-main__block {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;

  &::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 36px;
    height: 13px;
    background: url("../img/icon-stars.png");
    background-repeat: repeat;
  }

  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 36px;
    width: 24px;
    height: 13px;
    background: url("../img/icon-stars-grey.png");
    background-repeat: repeat;
  }
}

.page-main__food {
  margin: 0;
  font-size: $fn-sz;
  font-weight: 300;
  color: $cl-gray_black;
}

.page-main__total {
  margin: 0;
  color: $cl-gray_black;
  font-size: $fn-sz;
}
