.page-footer {
  min-height: 120px;
  padding-top: 100px;
  padding-bottom: 100px;
  background: $cl-gray;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.page-footer__list {
  @include list;
}

.page-footer__item {
  margin-bottom: 15px;
  font-size: $fn-sz;
  color: $cl-white;

  &--bold {
    font-weight: 700;
  }

  &--light {
    font-weight: 300;
  }
}
