.passage {
  padding-top: 100px;
  padding-bottom: 100px;
}

.passage__title {
  margin: 0 0 70px;
  font-size: 20px;
  line-height: 26px;
  color: $cl-gray;
  font-weight: 700;
  text-transform: uppercase;
}

.passage__image {
  display: flex;
  flex-direction: row;
}

.passage__gallery {
  display: flex;
  flex-wrap: wrap;
}

.passage__image img {
  display: block;
}
